.contain{
  display: flex;
  justify-content: end;
}

.childpic{
  position: absolute;
  max-width: 450px;
  margin-top: 250px;
  margin-right: 200px;
}
.fatherpic{
  position: relative;
  max-width: 650px;
}
@media(max-width: 768px){
  .fatherpic{
    display: none;
  }
}